/* Showcase Img */
header {
  background: url("../images/hero-image.jpeg") no-repeat center center/cover;
  height: 100vh;
  --main-bg-color: #f4f4f4;
}

#showcase h1 {
  color: var(--main-bg-color);
  font-family: "Muli", sans-serif;
  text-align: center;
  padding-top: 10rem;
  font-size: 3.5rem;
  font-weight: 800;
}

#showcase p {
  color: var(--main-bg-color);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5rem;
}
