/* #bikeDisplay {
  column-count: 3;
  column-gap: 3rem;
}  */

.card {
  display: inline-block;
  width: 30em;
  border: none;
}

.card-body {
  border-top: 2px solid #333;
  background: #f4f4f4;
  padding: 1.5rem;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.img {
  flex: 30%;
  padding: 5px;
}

.head .img {
  max-width: 31em;
  max-height: 31em;
}

.grey {
  filter: grayscale(1);
}

.sold {
  color: red;
  font-weight: 700;
}
