/* Section Nav Bar */

body {
  font-family: Muli;
}

nav {
  background: #333;
  display: flex;
  position: sticky;
  height: 110px;
  width: 100%;
  top: 0;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  align-items: center;
}

nav .middle-buttons,
nav .right-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  list-style: none;
}

nav .middle-buttons li,
nav .right-buttons li {
  padding: 0 1rem;
}

nav .middle-buttons a:hover,
nav .right-buttons a:hover {
  cursor: pointer;
}
